body{
  font-family: Helvetica, Verdana, sans-serif;
  background-color: #1D2475;
  color: #939396;
  background-image: url("cse326bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
}

ul{
  list-style-type: square;
}

.introduction h1{
  font-size: 40px;
  text-shadow: 3px -3px green;
}

p::first-letter{
  font-weight: bold;
  font-size: 1.5em;
}

dd{
  font-size: 70%;
}

a{
  color: #FF4F4F;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

h1, h2{
  color: #F7931E;
}

strong, dt{
  color: #FFF86B;
}

q{
  color: #D1DFEB;
}

a:hover{
  text-decoration: underline;
}

ul, ol, li, q{
  text-align: left;
}

table, th, td{
  border: 1px dotted black;
  border-collapse: collapse;
}

.animals img{
  outline-style: ridge;
  outline-width: medium;
  outline-color: #F7931E;
}


.NotdOrder{
  list-style: none;
}
